services:
  mongodb:
    image: 'mongo:latest'
    restart: unless-stopped
    environment:
      - 'MONGO_INITDB_ROOT_USERNAME=test'
      - 'MONGO_INITDB_ROOT_PASSWORD=test'
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
    driver: local